/* Sass variables*/
/*------------- Heading mixins*/
/*------------- Breakpoints mixin*/
/*------------- Flexbox mixins*/
/*------------- Flexbox center mixin*/
/* Mixin for tranform and transition*/
/*Mixin for animation in flexbox*/
html,
body {
  overflow-x: hidden; }

body {
  min-height: 100%;
  width: 100%;
  font-size: 16px;
  background: #e8edf3;
  font-family: "PT Sans", sans-serif;
  padding: 0;
  margin: 0; }

h1,
h2,
h3,
h4,
h5,
h6,
.btn-link,
.recipe-link,
.joanna {
  font-family: "Didact Gothic", sans-serif;
  font-weight: 300; }

label,
.input-group-addon {
  font-size: 0.9em; }

.custom-control-description {
  margin: 0.15em 0 0; }

.text-muted {
  color: #b56969 !important; }

.timePortions {
  margin: -1em 0 -1em; }

.single-block {
  margin: 0 !important; }

.single-flex-div {
  border-bottom: 2px dotted #22264b;
  margin: 0 0 -1em; }

.single-title,
.single-description {
  border-bottom: 2px dotted #22264b;
  padding: 0 0 1em; }

.form-steps span,
legend,
.header h1,
.user-logo,
.meny {
  font-family: "Codystar", cursive; }

.main {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  width: 100%;
  margin: 0;
  padding: 0;
  background: #b56969;
  background: -webkit-linear-gradient(to top, #e6cf8b, #e62739);
  background: linear-gradient(to top, #e6cf8b, #e62739); }

.header {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  text-align: center;
  min-height: 100px;
  width: 100%;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 0;
  padding: 0;
  background: #22264b;
  color: #e6cf8b; }

.header h1 {
  background: #e62739;
  background: -webkit-linear-gradient(to top, #e6cf8b, #e62739);
  background: linear-gradient(to top, #e6cf8b, #e62739);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 300;
  color: #e62739;
  font-size: 1.5em;
  margin: 0.5em 0 0.2em 0; }
  @media (min-width: 464px) {
    .header h1 {
      font-size: 1.5em; } }
  @media (min-width: 650px) {
    .header h1 {
      font-size: 2em; } }
  @media (min-width: 800px) {
    .header h1 {
      font-size: 3em; } }

.user-logo {
  color: #b56969;
  display: none; }
  @media (min-width: 800px) {
    .user-logo {
      display: inline-block; } }

.autocomplete {
  z-index: 999;
  padding: 1em; }

.auto-input {
  width: 14.8em;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
  padding: 3.7px;
  border: none;
  font-size: 0.9em; }

.item {
  -webkit-border-radius: 0;
  border-radius: 0;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */ }

.nav {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-self: center;
  -moz-align-self: center;
  -ms-align-self: center;
  align-self: center;
  width: 100%;
  max-width: 64em; }

.navbar {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  width: 100%;
  padding: 0.5em 1em 0;
  max-width: 62em;
  z-index: 998;
  background: #22264b; }

.navbar-toggler {
  background: #22264b;
  color: #e6cf8b;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-align-self: center;
  -moz-align-self: center;
  -ms-align-self: center;
  align-self: center;
  text-align: center;
  cursor: pointer;
  margin: 0; }
  .navbar-toggler:hover {
    outline: none;
    border: none;
    color: #b56969; }
  .navbar-toggler:focus {
    outline: none;
    border: none; }

.addInputs,
.reviewBtn,
.submitBtn,
.submitInputBtn {
  background: #22264b;
  color: #e6cf8b; }
  .addInputs:hover,
  .reviewBtn:hover,
  .submitBtn:hover,
  .submitInputBtn:hover {
    color: #22264b;
    background: #e6cf8b;
    border: 1px solid #22264b; }

.editInputBtn {
  background: #e62739;
  color: #e6cf8b; }
  .editInputBtn:hover {
    color: #e62739;
    background: #e6cf8b;
    border: 1px solid #e62739; }

.submitInputBtn,
.editInputBtn {
  padding: 0 0.5em 0;
  margin: 0 1em 0;
  font-size: 1.3em;
  font-weight: 700; }

.editBtn {
  background: #b56969;
  color: #e6cf8b; }
  .editBtn:hover {
    color: #b56969;
    background: #e6cf8b;
    border: 1px solid #b56969; }

.logInBtn {
  background: #22264b;
  color: #e6cf8b;
  margin: 0 0 0.5em; }
  .logInBtn:hover {
    color: #22264b;
    background: #e8edf3;
    border: 1px solid #22264b; }

.signUpBtn {
  background: #b56969;
  color: #e8edf3; }
  .signUpBtn:hover {
    color: #b56969;
    background: #e8edf3;
    border: 1px solid #b56969; }

.editBtn,
.submitBtn {
  margin: 0.5em 0.5em 0; }

button,
button:active,
button:focus,
button:hover,
.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
  cursor: pointer;
  outline: none !important;
  box-shadow: none !important; }

a:hover {
  text-decoration: none; }

.nav-link,
.recipe-link {
  cursor: pointer;
  text-decoration: none;
  color: #e6cf8b; }
  .nav-link:hover,
  .recipe-link:hover {
    color: #b56969; }

.add-recipe {
  cursor: pointer;
  text-decoration: none;
  color: #b56969;
  font-size: 1.2em;
  border: 1px dotted #b56969; }
  .add-recipe:hover {
    color: #e6cf8b;
    text-decoration: none;
    border: 1px dotted #e6cf8b; }
  .add-recipe:focus {
    outline: none; }

@media (min-width: 650px) {
  .nav-link {
    font-size: 1em; } }

.btn-link,
.recipe-link {
  margin: 0.5em 0 0.5em; }

.card-head,
.card-footer {
  background: #22264b;
  text-transform: capitalize; }

.cards {
  width: 100%;
  border-style: none;
  margin: 0 0 1em;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; }
  @media (min-width: 650px) {
    .cards {
      width: 45%;
      margin: 0.5em; } }
  @media (min-width: 800px) {
    .cards {
      width: 30%; } }

.card {
  border-style: none; }

.card-img-top {
  width: 50%;
  margin: 1em;
  background: #e8edf3; }
  @media (min-width: 650px) {
    .card-img-top {
      width: 100%;
      margin: 0; } }

.cards-block {
  display: none; }
  @media (min-width: 650px) {
    .cards-block {
      display: inline-block; } }

.card-block {
  background: #e8edf3;
  font-size: 1em; }

.card-img-bottom {
  background: #e8edf3;
  padding: 1em; }

.ingredient-list {
  list-style: none; }

.meny {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  text-align: center;
  font-size: 0.8em; }
  .meny:hover {
    outline: none;
    border: none; }
  .meny:focus {
    outline: none;
    border: none; }

.flex-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow-x: hidden;
  width: 100%;
  min-height: 100vh;
  position: relative;
  overflow-y: hidden; }

.recipes-container,
.single-container,
.loginSignUp {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 1em 0 0;
  padding: 0; }

.loginSignUp,
.recipes-container {
  width: 95%;
  max-width: 64em; }

.loginSignUp {
  z-index: 96; }

.recipes-container {
  z-index: 99; }

.single-container {
  z-index: 98; }

.my-page-header,
.addDiv,
.errorMsg,
.single-container {
  width: 95%;
  max-width: 53em; }

.formDiv {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: start;
  -moz-justify-content: start;
  -ms-justify-content: start;
  justify-content: start;
  -ms-flex-pack: start;
  margin: 1em;
  padding: 1em;
  background: #e8edf3; }

.formDiv,
.my-page-header,
.cards {
  -webkit-box-shadow: 0 0 10px rgba(33, 37, 74, 0.58);
  -moz-box-shadow: 0 0 10px rgba(33, 37, 74, 0.58);
  box-shadow: 0 0 10px rgba(33, 37, 74, 0.58); }

.addDiv {
  -webkit-box-shadow: 0 0 10px rgba(33, 37, 74, 0.38);
  -moz-box-shadow: 0 0 10px rgba(33, 37, 74, 0.38);
  box-shadow: 0 0 10px rgba(33, 37, 74, 0.38); }

.form {
  min-width: 20em; }

.addForm {
  padding: 0.5em; }

.addBtn {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  margin: 0 1em 0; }

.my-page-header,
.addDiv {
  color: #22264b; }

.my-page-header,
.addDiv {
  margin: 1em 0 0.5em 0;
  padding: 0.5em;
  z-index: 97; }
  @media (min-width: 650px) {
    .my-page-header,
    .addDiv {
      margin: 2em 0 1em 0; } }

.my-page-header {
  padding-top: 1em;
  background: #e8edf3;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }

.about {
  padding: 0.5em 0.5em 0; }

.addDiv {
  background: #e6cf8b;
  padding: 0.5em;
  position: relative; }

li:first-letter {
  text-transform: capitalize; }

.input-group-addon {
  border-style: none;
  background: #e6cf8b; }

.ingredient-added {
  display: none; }
  @media (min-width: 650px) {
    .ingredient-added {
      display: inline-block; } }

.input-group {
  margin: 0 1em 0.2em; }

.form-steps {
  margin: 0 0 0.2em;
  background: #e8edf3;
  display: inline-block;
  line-height: 0px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
  border-style: dotted;
  border: 1px dotted #22264b;
  font-size: 1.2em; }

.form-steps span {
  color: #22264b;
  display: inline-block;
  padding-top: 50%;
  padding-bottom: 50%;
  margin: 0 0.5em 0; }

.recipe-icon {
  position: absolute;
  top: 0.5em;
  right: 1em; }

.errorMsg {
  text-align: center;
  font-size: 1em;
  padding: 0.2em;
  margin: 0.5em 0 0;
  color: #b56969;
  border: 1px dotted #b56969;
  max-width: 53em; }

.errorMsgInput {
  width: 100%;
  font-size: 0.8em;
  color: #e62739;
  margin: 0.5em 0 0.5em; }

.search-group {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  background: #22264b;
  color: #e6cf8b;
  padding: 0.5em 0 1em; }

.custom-select {
  margin: 0; }

.item {
  color: #22264b; }

input:focus::-webkit-input-placeholder {
  color: transparent; }

input:focus:-moz-placeholder {
  color: transparent; }

.check:focus,
select:focus,
input:focus {
  outline: none; }

.input-field {
  font-size: 0.99em;
  outline: none; }
  .input-field:disabled {
    background: #e8edf3; }

fieldset {
  border-top: 0.2px solid #22264b;
  padding: 0 3em 0;
  margin: 0; }

legend {
  color: #22264b;
  text-align: center;
  font-size: 1em;
  margin: 1em 0 1em;
  width: 5em; }

.google {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 0.5em 0 0;
  margin: 1em 0 0; }

@-webkit-keyframes foodSpinn {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }

@-moz-keyframes foodSpinn {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }

@-ms-keyframes foodSpinn {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }

@-o-keyframes foodSpinn {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes foodSpinn {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }

@-webkit-keyframes foodSpinn2 {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
    transform: rotate(-360deg); } }

@-moz-keyframes foodSpinn2 {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
    transform: rotate(-360deg); } }

@-ms-keyframes foodSpinn2 {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
    transform: rotate(-360deg); } }

@-o-keyframes foodSpinn2 {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
    transform: rotate(-360deg); } }

@keyframes foodSpinn2 {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
    transform: rotate(-360deg); } }

@-webkit-keyframes foodSpinn3 {
  0% {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg); }
  100% {
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    transform: rotate(-180deg); } }

@-moz-keyframes foodSpinn3 {
  0% {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg); }
  100% {
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    transform: rotate(-180deg); } }

@-ms-keyframes foodSpinn3 {
  0% {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg); }
  100% {
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    transform: rotate(-180deg); } }

@-o-keyframes foodSpinn3 {
  0% {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg); }
  100% {
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    transform: rotate(-180deg); } }

@keyframes foodSpinn3 {
  0% {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg); }
  100% {
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    transform: rotate(-180deg); } }

.animationContainer {
  position: absolute;
  top: 0;
  z-index: 0;
  width: 100%; }

.animationDiv,
.animationDiv2,
.animationDiv3,
.animationDiv4 {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.animationDiv3,
.animationDiv2 {
  margin: 1em;
  -webkit-animation-name: foodSpinn2;
  -webkit-animation-duration: 180s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  /* forward prevents the animation from restarting! */
  -moz-animation-name: foodSpinn2;
  -moz-animation-duration: 180s;
  -moz-animation-timing-function: linear;
  -moz-animation-iteration-count: infinite;
  -ms-animation-name: foodSpinn2;
  -ms-animation-duration: 180s;
  -ms-animation-timing-function: linear;
  -ms-animation-iteration-count: infinite;
  -o-animation-name: foodSpinn2;
  -o-animation-duration: 180s;
  -o-animation-timing-function: linear;
  -o-animation-iteration-count: infinite;
  animation-name: foodSpinn2;
  animation-duration: 180s;
  animation-timing-function: linear;
  animation-iteration-count: infinite; }

.animationDiv4,
.animationDiv {
  margin: 2em;
  -webkit-animation-name: foodSpinn;
  -webkit-animation-duration: 120s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  /* forward prevents the animation from restarting! */
  -moz-animation-name: foodSpinn;
  -moz-animation-duration: 120s;
  -moz-animation-timing-function: linear;
  -moz-animation-iteration-count: infinite;
  -ms-animation-name: foodSpinn;
  -ms-animation-duration: 120s;
  -ms-animation-timing-function: linear;
  -ms-animation-iteration-count: infinite;
  -o-animation-name: foodSpinn;
  -o-animation-duration: 120s;
  -o-animation-timing-function: linear;
  -o-animation-iteration-count: infinite;
  animation-name: foodSpinn;
  animation-duration: 120s;
  animation-timing-function: linear;
  animation-iteration-count: infinite; }

.animationDiv {
  margin: 2em;
  -webkit-animation-name: foodSpinn3;
  -webkit-animation-duration: 140s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  /* forward prevents the animation from restarting! */
  -moz-animation-name: foodSpinn3;
  -moz-animation-duration: 140s;
  -moz-animation-timing-function: linear;
  -moz-animation-iteration-count: infinite;
  -ms-animation-name: foodSpinn3;
  -ms-animation-duration: 140s;
  -ms-animation-timing-function: linear;
  -ms-animation-iteration-count: infinite;
  -o-animation-name: foodSpinn3;
  -o-animation-duration: 140s;
  -o-animation-timing-function: linear;
  -o-animation-iteration-count: infinite;
  animation-name: foodSpinn3;
  animation-duration: 140s;
  animation-timing-function: linear;
  animation-iteration-count: infinite; }

.foods {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  margin: 4em; }

.food1 {
  width: 1.8em;
  height: 1.8em;
  -webkit-animation-name: foodSpinn3;
  -webkit-animation-duration: 25s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  /* forward prevents the animation from restarting! */
  -moz-animation-name: foodSpinn3;
  -moz-animation-duration: 25s;
  -moz-animation-timing-function: linear;
  -moz-animation-iteration-count: infinite;
  -ms-animation-name: foodSpinn3;
  -ms-animation-duration: 25s;
  -ms-animation-timing-function: linear;
  -ms-animation-iteration-count: infinite;
  -o-animation-name: foodSpinn3;
  -o-animation-duration: 25s;
  -o-animation-timing-function: linear;
  -o-animation-iteration-count: infinite;
  animation-name: foodSpinn3;
  animation-duration: 25s;
  animation-timing-function: linear;
  animation-iteration-count: infinite; }

.food2 {
  width: 1.5em;
  height: 1.5em;
  -webkit-animation-name: foodSpinn;
  -webkit-animation-duration: 35s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  /* forward prevents the animation from restarting! */
  -moz-animation-name: foodSpinn;
  -moz-animation-duration: 35s;
  -moz-animation-timing-function: linear;
  -moz-animation-iteration-count: infinite;
  -ms-animation-name: foodSpinn;
  -ms-animation-duration: 35s;
  -ms-animation-timing-function: linear;
  -ms-animation-iteration-count: infinite;
  -o-animation-name: foodSpinn;
  -o-animation-duration: 35s;
  -o-animation-timing-function: linear;
  -o-animation-iteration-count: infinite;
  animation-name: foodSpinn;
  animation-duration: 35s;
  animation-timing-function: linear;
  animation-iteration-count: infinite; }

.food3 {
  width: 1.3em;
  height: 1.3em;
  -webkit-animation-name: foodSpinn2;
  -webkit-animation-duration: 30s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  /* forward prevents the animation from restarting! */
  -moz-animation-name: foodSpinn2;
  -moz-animation-duration: 30s;
  -moz-animation-timing-function: linear;
  -moz-animation-iteration-count: infinite;
  -ms-animation-name: foodSpinn2;
  -ms-animation-duration: 30s;
  -ms-animation-timing-function: linear;
  -ms-animation-iteration-count: infinite;
  -o-animation-name: foodSpinn2;
  -o-animation-duration: 30s;
  -o-animation-timing-function: linear;
  -o-animation-iteration-count: infinite;
  animation-name: foodSpinn2;
  animation-duration: 30s;
  animation-timing-function: linear;
  animation-iteration-count: infinite; }

.food5,
.food4 {
  width: 1.7em;
  height: 1.7em;
  -webkit-animation-name: foodSpinn3;
  -webkit-animation-duration: 40s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  /* forward prevents the animation from restarting! */
  -moz-animation-name: foodSpinn3;
  -moz-animation-duration: 40s;
  -moz-animation-timing-function: linear;
  -moz-animation-iteration-count: infinite;
  -ms-animation-name: foodSpinn3;
  -ms-animation-duration: 40s;
  -ms-animation-timing-function: linear;
  -ms-animation-iteration-count: infinite;
  -o-animation-name: foodSpinn3;
  -o-animation-duration: 40s;
  -o-animation-timing-function: linear;
  -o-animation-iteration-count: infinite;
  animation-name: foodSpinn3;
  animation-duration: 40s;
  animation-timing-function: linear;
  animation-iteration-count: infinite; }

.icon-link {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-self: center;
  -moz-align-self: center;
  -ms-align-self: center;
  align-self: center;
  cursor: pointer;
  text-decoration: none;
  color: #b56969;
  font-size: 0.7em;
  margin: 0 1em 0.5em; }
  .icon-link:hover {
    color: #22264b; }

.joanna {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-self: center;
  -moz-align-self: center;
  -ms-align-self: center;
  align-self: center;
  margin: 1em 0 0.5em; }
